.alert-container {
  height: 50px;
}

.alert {
  height: 26px;
}

.home-page .search-prompt {
  margin-bottom: 5px;
}

.range-alert {
  height: 26px;
  margin-bottom: 10px;
}

.input-container {
  margin-top: 10px;
}

.input-dimensions {
  height: 50px;
  width: 600px;
}

.search-button {
  height: 50px;
  width: 50px;
}

.search-icon {
  font-size: 25px;
}

.save-button {
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 10px;
  border: 0px;
}

.word-type {
  padding-left: 20px;
}

.word-def-type {
  padding-left: 40px;
}

.word-def-container {
  padding-left: 60px;
}

.word-def {
  font-size: 16px;
}

.ant-select-selection-placeholder.placeholder-color {
  color: black;
}

.ant-select.placeholder-font {
  size: 16px;
}

/* TODO: find way to apply selectively */
.ant-checkbox-group-item {
  display: block;
  margin-right: 0;
}
