.page-container {
  height: 100%;
  width: 100%;
}

.col-container {
  height: 100%;
}

.lists-container {
  padding-left: 20px;
  margin-top: 20px;
}

.saved-page .lists-title {
  color: #001529;
}

.saved-page .list-items {
  border-bottom: 0px;
}

.ant-list-item-meta-title .list-items-color {
  color: #001529;
}

.list-members {
  margin-top: 65px;
}

.list-words {
  width: 100%;
}

.saved-page .words {
  width: 38%;
  padding-left: 200px;
}

.saved-page .lists {
  width: 95%;
}

.list-padding {
  padding-left: 30px;
}

.list-column {
  background-color: rgba(212, 212, 212);
}

.ant-list-item-meta-title {
  font-size: 16px;
}

.saved-page .ant-btn-link {
  color: #001529;
}
