.list-words {
  width: 100%;
}

/* .saved-words .words {
  width: 66%;
  padding-left: 200px;
} */

.saved-page .words {
  width: 38%;
  padding-left: 200px;
}

.saved-page .lists {
  width: 95%;
}

.list-padding {
  padding-left: 30px;
}

.list-column {
  /* background-color: #031c33 */
  background-color: rgba(212, 212, 212);
}

.ant-list-item-meta-title {
  font-size: 16px;
}

/* .anticon {
  color: white;
} */

.saved-page .ant-btn-link {
  color: #001529;
}
